:root {
    --md-admonition-icon--dictionnary: url('data:image/svg+xml;charset=utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18 22a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2h-6v7L9.5 7.5 7 9V2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12z"/></svg>');
    --md-admonition-icon--grid: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M352 432c0 8.836-7.164 16-16 16H176c-8.838 0-16-7.164-16-16V128H48c-26.51 0-48 21.5-48 48v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48v-80H352v48zm-248 7c0 4.969-4.031 9-9 9H65c-4.969 0-9-4.031-9-9v-30c0-4.969 4.031-9 9-9h30c4.969 0 9 4.031 9 9v30zm0-104c0 4.969-4.031 9-9 9H65c-4.969 0-9-4.031-9-9v-30c0-4.969 4.031-9 9-9h30c4.969 0 9 4.031 9 9v30zm0-104c0 4.969-4.031 9-9 9H65c-4.969 0-9-4.031-9-9v-30c0-5 4.03-9 9-9h30c4.969 0 9 4.031 9 9v30zm304 178c0-4.969 4.031-9 9-9h30c4.969 0 9 4.031 9 9v30c0 4.969-4.031 9-9 9h-30c-4.969 0-9-4.031-9-9v-30zM591.1 0h-352c-25.6 0-48 21.49-48 48v256c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V48c.9-26.51-20.6-48-48-48zm-288 64c17.68 0 32 14.33 32 32s-14.32 32-32 32c-16.8 0-32-14.3-32-32s15.2-32 32-32zm271 215.6c-2.8 5.2-8.2 8.4-14.1 8.4H271.1c-6 0-10.6-3.4-13.4-8.7-2.7-5.4-2.2-11.9 1.4-16.7l70-96c3-4.2 7.8-6.6 12-6.6 5.11 0 9.914 2.441 12.93 6.574l22.35 30.66 62.74-94.11C442.1 98.67 447.1 96 453.3 96c5.348 0 10.34 2.672 13.31 7.125l106.7 160c3.29 4.875 3.59 11.175.79 16.475z"/></svg>');
    --md-admonition-icon--infobox: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M352 432c0 8.836-7.164 16-16 16H176c-8.838 0-16-7.164-16-16V128H48c-26.51 0-48 21.5-48 48v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48v-80H352v48zm-248 7c0 4.969-4.031 9-9 9H65c-4.969 0-9-4.031-9-9v-30c0-4.969 4.031-9 9-9h30c4.969 0 9 4.031 9 9v30zm0-104c0 4.969-4.031 9-9 9H65c-4.969 0-9-4.031-9-9v-30c0-4.969 4.031-9 9-9h30c4.969 0 9 4.031 9 9v30zm0-104c0 4.969-4.031 9-9 9H65c-4.969 0-9-4.031-9-9v-30c0-5 4.03-9 9-9h30c4.969 0 9 4.031 9 9v30zm304 178c0-4.969 4.031-9 9-9h30c4.969 0 9 4.031 9 9v30c0 4.969-4.031 9-9 9h-30c-4.969 0-9-4.031-9-9v-30zM591.1 0h-352c-25.6 0-48 21.49-48 48v256c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V48c.9-26.51-20.6-48-48-48zm-288 64c17.68 0 32 14.33 32 32s-14.32 32-32 32c-16.8 0-32-14.3-32-32s15.2-32 32-32zm271 215.6c-2.8 5.2-8.2 8.4-14.1 8.4H271.1c-6 0-10.6-3.4-13.4-8.7-2.7-5.4-2.2-11.9 1.4-16.7l70-96c3-4.2 7.8-6.6 12-6.6 5.11 0 9.914 2.441 12.93 6.574l22.35 30.66 62.74-94.11C442.1 98.67 447.1 96 453.3 96c5.348 0 10.34 2.672 13.31 7.125l106.7 160c3.29 4.875 3.59 11.175.79 16.475z"/></svg>');
    --md-admonition-icon--dice: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M20.04 317.3c-2.04 0-4.04-1.5-4.04-4V150.5c0-2.351 1.91-4.012 4.001-4.012.688 0 1.396.18 2.062.575l76.62 45.1-75.28 122.3c-.813 2.337-2.093 2.837-3.363 2.837zm211.36 87.9L23.2 383.14c-4.27-.482-7.123-4.117-7.123-7.995 0-1.401.373-2.834 1.185-4.161L122.7 215.1l108.7 190.1zM31.1 420.1c0-2.039 1.508-4.068 3.93-4.068.165 0 .335.01.509.03l203.6 22.31v65.66C239.1 508.6 236.2 512 232 512a7.914 7.914 0 0 1-3.363-.756L34.25 423.6c-1.56-.8-3.15-2.2-3.15-3.5zm2.84-303c-1.289-.764-1.938-2.088-1.938-3.417 0-1.281.602-2.567 1.813-3.364l150.8-98.59c.485-.749 2.685-1.089 3.985-1.089 4.32 0 8.003 3.721 8.003 8.022 0 1.379-.379 2.818-1.237 4.214L115.5 165.8l-81.56-48.7zm112.86 58L242.39 6.7C245.5 2.53 250.7 0 255.1 0s10.5 2.53 13.62 7.624l95.59 168.4H146.8zm209.6 32L256 382.8 155.6 207.1h200.8zm119.7 208c2.422 0 3.93 2.029 3.93 4.068 0 1.378-.69 2.761-2.252 3.524l-194.4 87.66a7.966 7.966 0 0 1-3.35.744c-4.2 0-7.994-3.37-7.994-7.994v-65.69l203.6-22.28c.066.868.266-.032.466-.032zm18.7-44.2c.8 1.4 1.2 2.8 1.2 4.2 0 3.872-2.841 7.499-7.128 7.98l-208.2 22.06 108.6-190.1L494.8 370.9zM316.6 22.87c-.858-1.395-1.237-2.834-1.237-4.214 0-4.301 3.683-8.022 8.003-8.022 1.308 0 2.675.341 4.015 1.11l150.8 98.59a3.984 3.984 0 0 1 1.813 3.353 3.977 3.977 0 0 1-1.938 3.429L396.5 165.8 316.6 22.87zM491.1 146.5c2.091 0 4.001 1.661 4.001 4.012v162.8c0 2.483-2.016 4.006-4.053 4.006-1.27 0-2.549-.592-3.353-1.912l-75.28-122.3 76.62-45.1c1.565-1.306 2.265-1.506 2.065-1.506z"/></svg>');
    --md-admonition-icon--pen: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M492.7 42.75c25 24.99 25 65.55 0 90.55l-56.4 56.4-114-113.98 56.4-56.4c25-24.998 65.6-24.998 90.6 0l23.4 23.43zM44.89 353.2 299.7 98.34l114 113.96-254.9 254.8c-6.7 6.7-15 11.6-24.2 14.3L30.59 511.1c-8.38 2.4-17.4 0-23.56-7-6.163-5.3-8.5-14.3-6.106-22.7l29.726-104c2.61-9.2 7.51-17.5 14.24-24.2zM249.4 103.4l-146 146L16 161.9c-18.745-18.7-18.745-49.1 0-67.84L94.06 16C112.8-2.745 143.2-2.745 161.9 16l19.8 19.76c-.3.29-.7.6-1 .93l-64 64.01c-6.3 6.2-6.3 16.4 0 22.6 6.2 6.3 16.4 6.3 22.6 0l64-63.99c.3-.32-.2-.66.9-1.01l45.2 45.1zm204.3 204.4c-.3.2-.7.6-1 .9l-64 64c-6.3 6.2-6.3 16.4 0 22.6 6.2 6.3 16.4 6.3 22.6 0l64-64c.3-1.2-.2-.7.9-1l19.8 19.8c18.7 18.7 18.7 49.1 0 67.8L417.9 496c-18.7 18.7-49.1 18.7-67.8 0l-87.5-87.4 146-146 45.1 45.2z"/></svg>');
    --md-admonition-icon--power: url('data:image/svg+xml;charset=utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M224 96l16-32 32-16-32-16-16-32-16 32-32 16 32 16 16 32zM80 160l26.66-53.33L160 80l-53.34-26.67L80 0 53.34 53.33 0 80l53.34 26.67L80 160zm352 128l-26.66 53.33L352 368l53.34 26.67L432 448l26.66-53.33L512 368l-53.34-26.67L432 288zm70.62-193.77L417.77 9.38C411.53 3.12 403.34 0 395.15 0c-8.19 0-16.38 3.12-22.63 9.38L9.38 372.52c-12.5 12.5-12.5 32.76 0 45.25l84.85 84.85c6.25 6.25 14.44 9.37 22.62 9.37 8.19 0 16.38-3.12 22.63-9.37l363.14-363.15c12.5-12.48 12.5-32.75 0-45.24zM359.45 203.46l-50.91-50.91 86.6-86.6 50.91 50.91-86.6 86.6z"></path></svg>');
    --md-admonition-icon--buff: url('data:image/svg+xml;charset=utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill=\"currentColor\" d=\"M925.171 528.666c-10.187-51.091-54.508-69.159-95.845-61.094V271.266l22.917-18.674-12.669-8.907 61.764-63.847c-.002-66.979-113.333-145.401-184.186-129.495l-39.179 79.723-15.016-10.557-33.525 95.212c.349.797.718 1.574 1.076 2.364C524.856 389.775 326.3 423.93 176.388 477.166c-157.24 55.847-61.228 328.739 77.371 426.174s427.975 95.468 427.325-71.398c-.62-159.245-35.731-357.845 91.585-515.752.444.052.875.115 1.321.165l38.693-31.529v187.491c-39.674 15.003-71.374 54.992-58.425 113.18l48.701 255.136 170.908-56.821-48.698-255.146zM580.929 900.97l-152.162 23.626-159.884-51.673-107.101-131.62-33.548-171.614h518.724l2.581 251.62-68.61 79.662zm257.009-301.093c-26.965 0-48.825-21.856-48.825-48.823s21.86-48.823 48.825-48.823c26.965 0 48.825 21.856 48.825 48.823s-21.861 48.823-48.825 48.823z"></path></svg>');
    --md-admonition-icon--passif: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="currentColor" d="M728.852 748.29c-4.692-31.463-29.106-59.412-65.862-80.221-97.875-62.404-115.025-168.561-69.879-238.415 57.561-16.566 96.904-49.982 96.904-88.512 0-35.048-32.556-65.863-81.763-83.616 25.222-25.147 40.85-59.993 40.85-98.513 0-76.656-61.858-138.8-138.163-138.8s-138.163 62.143-138.163 138.8c0 38.513 15.621 73.354 40.836 98.499-49.226 17.75-81.796 48.572-81.796 83.629 0 38.987 40.287 72.737 98.967 89.093 45.893 69.589 26.362 174.436-74.613 238.814-35.414 20.68-58.675 48.422-63.207 79.274-63.643 26.935-103.516 65.501-103.516 108.34 0 81.409 143.94 147.411 321.499 147.411s321.499-65.995 321.499-147.411c0-42.858-39.906-81.437-103.593-108.374z"></path></svg>');
    --power:238, 113, 158;
    --buff:76, 136, 174;
    --passif:196, 150, 130;
    --eldale: 205,115,115;
    --md-admonition-icon--eldale: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M208 64c0-8.8-7.2-16-16-16s-16 7.2-16 16s7.2 16 16 16s16-7.2 16-16zm48 0c0 16.2-6 31.1-16 42.3l15.6 31.2c18.7-6 39.9-9.5 64.4-9.5s45.8 3.5 64.4 9.5L400 106.3C390 95.1 384 80.2 384 64c0-35.3 28.7-64 64-64s64 28.7 64 64s-28.7 64-64 64c-1.7 0-3.4-.1-5.1-.2L427.8 158c21.1 13.6 37.7 30.2 51.4 46.4c7.1 8.3 13.5 16.6 19.3 24l1.4 1.8c6.3 8.1 11.6 14.8 16.7 20.4C527.3 262.3 532.7 264 536 264c2.5 0 4.3-.6 7.1-3.3c3.7-3.5 7.1-8.8 12.5-17.4l.6-.9c4.6-7.4 11-17.6 19.4-25.7c9.7-9.3 22.9-16.7 40.4-16.7c13.3 0 24 10.7 24 24s-10.7 24-24 24c-2.5 0-4.3 .6-7.1 3.3c-3.7 3.5-7.1 8.8-12.5 17.4l-.6 .9c-4.6 7.4-11 17.6-19.4 25.7c-9.7 9.3-22.9 16.7-40.4 16.7c-18.5 0-32.9-8.5-44.3-18.6c-3.1 4-6.6 8.3-10.5 12.7c1.4 4.3 2.8 8.5 4 12.5c.9 3 1.8 5.8 2.6 8.6c3 9.8 5.5 18.2 8.6 25.9c3.9 9.8 7.4 15.4 10.8 18.5c2.6 2.4 5.9 4.3 12.8 4.3c8.7 0 16.9-4.2 33.7-13.2c15-8 35.7-18.8 62.3-18.8c13.3 0 24 10.7 24 24s-10.7 24-24 24c-13.4 0-24.7 5.2-39.7 13.2c-1 .6-2.1 1.1-3.2 1.7C559.9 414 541.4 424 520 424c-18.4 0-33.6-6.1-45.5-17.2c-11.1-10.3-17.9-23.7-22.7-36c-3.6-9-6.7-19.1-9.5-28.5c-16.4 12.3-36.1 23.6-58.9 31.3c3.6 10.8 8.4 23.5 14.4 36.2c7.5 15.9 16.2 30.4 25.8 40.5C433 460.5 441.2 464 448 464c13.3 0 24 10.7 24 24s-10.7 24-24 24c-25.2 0-45-13.5-59.5-28.8c-14.5-15.4-25.7-34.9-34.2-53c-8-17-14.1-33.8-18.3-46.9c-5.2 .4-10.6 .6-16 .6s-10.8-.2-16-.6c-4.2 13-10.3 29.9-18.3 46.9c-8.5 18.1-19.8 37.6-34.2 53C237 498.5 217.2 512 192 512c-13.3 0-24-10.7-24-24s10.7-24 24-24c6.8 0 15-3.5 24.5-13.7c9.5-10.1 18.3-24.6 25.8-40.5c5.9-12.6 10.7-25.4 14.4-36.2c-22.8-7.7-42.5-19-58.9-31.3c-2.9 9.4-6 19.5-9.5 28.5c-4.8 12.2-11.6 25.6-22.7 36C153.6 417.9 138.4 424 120 424c-21.4 0-39.9-10-53.1-17.1l0 0c-1.1-.6-2.2-1.2-3.2-1.7c-15-8-26.3-13.2-39.7-13.2c-13.3 0-24-10.7-24-24s10.7-24 24-24c26.6 0 47.3 10.8 62.3 18.8c16.8 9 25 13.2 33.7 13.2c6.8 0 10.2-1.9 12.8-4.3c3.4-3.2 7-8.8 10.8-18.5c3-7.7 5.6-16.1 8.6-25.9c.8-2.7 1.7-5.6 2.6-8.6c1.2-4 2.6-8.2 4-12.5c-3.9-4.5-7.4-8.8-10.5-12.7C136.9 303.5 122.5 312 104 312c-17.5 0-30.7-7.4-40.4-16.7c-8.4-8.1-14.8-18.3-19.4-25.7l-.6-.9c-5.4-8.6-8.8-13.9-12.5-17.4c-2.8-2.7-4.6-3.3-7.1-3.3c-13.3 0-24-10.7-24-24s10.7-24 24-24c17.5 0 30.7 7.4 40.4 16.7c8.4 8.1 14.8 18.3 19.4 25.7l.6 .9c5.4 8.6 8.8 13.9 12.5 17.4c2.8 2.7 4.6 3.3 7.1 3.3c3.3 0 8.7-1.7 19.4-13.4c5.1-5.6 10.4-12.3 16.7-20.4l1.4-1.8c5.8-7.4 12.2-15.7 19.3-24c13.8-16.2 30.3-32.8 51.4-46.4l-15.1-30.2c-1.7 .1-3.4 .2-5.1 .2c-35.3 0-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64zm208 0c0-8.8-7.2-16-16-16s-16 7.2-16 16s7.2 16 16 16s16-7.2 16-16z"/></svg>')
    /*--md-admonition-icon--name:url('data:image/svg+xml;charset=utf-8,'); */
}

.md-typeset :is(.power) > :is(.admonition-title, summary) {
    color: rgb(var(--power));
    background-color: rgba(var(--power), 0.3);
}

.md-typeset :is(.buff) > :is(.admonition-title, summary) {
    color: rgb(var(--buff));
    background-color: rgba(var(--buff), 0.3);
}

.md-typeset :is(.passif)> :is(.admonition-title, summary) {
    color: rgb(var(--passif));
    background-color: rgba(var(--passif),0.3);
}

.md-typeset :is(.note)> :is(.admonition-title,
    summary) {
    color: #448aff;
}

.md-typeset :is(.abstract,
    .summary,
    .tldr)> :is(.admonition-title,
    summary) {
    color: #00b0ff;
}

.md-typeset :is(.info,
    .todo)> :is(.admonition-title,
    summary) {
    color: #00b8d4;
}

.md-typeset :is(.tip,
    .hint,
    .important)> :is(.admonition-title,
    summary) {
    color: #00bfa5;
}

.md-typeset :is(.success,
    .check,
    .done)> :is(.admonition-title,
    summary) {
    color: #00c853;
}

.md-typeset :is(.question,
    .help,
    .faq)> :is(.admonition-title,
    summary) {
    color: #64dd17;
}

.md-typeset :is(.warning,
    .caution,
    .attention)> :is(.admonition-title,
    summary) {
    color: #ff9100;
}

.md-typeset :is(.failure,
    .fail,
    .missing)> :is(.admonition-title,
    summary) {
    color: #ff5252;
}

.md-typeset :is(.danger,
    .error)> :is(.admonition-title,
    summary) {
    color: #ff1744;
}

.md-typeset :is(.bug)> :is(.admonition-title,
    summary) {
    color: #f50057;
}

.md-typeset :is(.example)> :is(.admonition-title,
    summary) {
    color: #7c4dff;
}

.md-typeset :is(.quote,
    .cite)> :is(.admonition-title,
    summary) {
    color: #9e9e9e;
}

.md-typeset .admonition.dictionnary,
.md-typeset details.dictionnary {
    border-color: rgb(43, 155, 70);
}

.md-typeset .admonition.project,
.md-typeset details.project {
    border-color: rgb(48, 156, 232);
}

.md-typeset .admonition.passif,
.md-typeset details.passif {
    border-color: rgb(var(--passif));
}

.md-typeset .admonition.eldale,
.md-typeset details.eldale {
    border-color: rgb(var(--eldale));
}

.md-typeset .admonition.power,
.md-typeset details.power {
    border-color: rgb(var(--power));
}

.md-typeset .admonition.buff,
.md-typeset details.buff {
    border-color: rgb(var(--buff));
}

.md-typeset .project>.admonition-title,
.md-typeset .project>summary {
    background-color: rgba(48, 156, 232, 0.1);
}

.md-typeset .project>.admonition-title::before,
.md-typeset .project>summary::before {
    display:none;
}

.md-typeset .project>.admonition-title >* {
    left: -1.5rem;
    position: relative;
}

.md-typeset .project>.admonition-title>.twemoji {
    padding-right: 0.2rem;
}

.md-typeset .dice>.admonition-title::before,
.md-typeset .dice>summary::before {
    -webkit-mask-image: var(--md-admonition-icon--dice);
    mask-image: var(--md-admonition-icon--dice);
}

.md-typeset .power>.admonition-title::before,
.md-typeset .power>summary::before {
    -webkit-mask-image: var(--md-admonition-icon--power);
    mask-image: var(--md-admonition-icon--power);
    background-color: rgb(var(--power));
}

.md-typeset .eldale>.admonition-title::before,
.md-typeset .eldale>summary::before {
    -webkit-mask-image: var(--md-admonition-icon--eldale);
    mask-image: var(--md-admonition-icon--eldale);
    background-color: rgb(var(--eldale));
}

.md-typeset .buff>.admonition-title::before,
.md-typeset .buff>summary::before {
    -webkit-mask-image: var(--md-admonition-icon--buff);
    mask-image: var(--md-admonition-icon--buff);
    background-color: rgb(var(--buff));
}

.md-typeset .passif>.admonition-title::before,
.md-typeset .passif>summary::before {
    -webkit-mask-image: var(--md-admonition-icon--passif);
    mask-image: var(--md-admonition-icon--passif);
    background-color: rgb(var(--passif));
}

.md-typeset .dictionnary>.admonition-title,
.md-typeset .dictionnary>.summary {
    background-color: rgba(43, 155, 70, 0.1);
    border-color: rgb(43, 155, 70);
    color: rgb(43, 155, 70);
}

.md-typeset .eldale > .admonition-title,
.md-typeset .eldale > summary {
    color: rgba(var(--eldale));
    background-color: rgb(var(--eldale), 0.1);
    border-color: rgb(var(--eldale));
}

.eldale > .admonition-title > a {
    color: rgb(var(--eldale));
    font-weight: bold;
}

.md-typeset .dictionnary>.admonition-title::before,
.md-typeset .dictionnary>summary::before {
    background-color: rgb(43, 155, 70);
    -webkit-mask-image: var(--md-admonition-icon--dictionnary);
    mask-image: var(--md-admonition-icon--dictionnary);
}

.md-typeset .pen>.admonition-title::before,
.md-typeset .pen>summary::before {
    -webkit-mask-image: var(--md-admonition-icon--pen);
    mask-image: var(--md-admonition-icon--pen);
}

.md-typeset .admonition.grid,
.md-typeset details.grid,
.md-typeset details.infobox,
.md-typeset .admonition.infobox {
    border-color: transparent;
    background-color: transparent;
}

.md-typeset .grid>.admonition-title,
.md-typeset .infobox>.admonition-title,
.md-typeset .grid>.summary,
.md-typeset .infobox>.summary {
    display: none;
}

.md-typeset .grid>.admonition-title::before,
.md-typeset .grid>summary::before,
.md-typeset .infobox>.admonition-title::before {
    background-color: transparent;
    -webkit-mask-image: var(--md-admonition-icon--grid);
    mask-image: var(--md-admonition-icon--grid);
}

.admonition.project,
.admonition.dice,
.admonition.pen {
    box-shadow: none;
    border: none;
}